<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
               https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
               scan="true" scanPeriod="60 seconds" debug="false">
    <!--
    日志输出格式：
        %-5level
        %d{yyyy-MM-dd HH:mm:ss.SSS}日期
        %c类的完整名称
        %M为method
        %L为行号
        %thread线程名称
        %m或者%msg为信息
        %n换行
      -->

    <!--定义日志文件保存路径属性-->
    <property name="log_home" value="E:/Example/Java/netty/logs"/>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger{50} %line - %msg%n"/>

    <!--控制台日志输出的 appender-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--控制输出流对象 默认 System.out 改为 System.err-->
        <target>System.out</target>
        <!--日志消息格式配置-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--日志文件输出的 appender-->
<!--    <appender name="file" class="ch.qos.logback.core.FileAppender">-->
<!--        &lt;!&ndash;日志文件保存路径&ndash;&gt;-->
<!--        <file>${log_home}/logback.log</file>-->
<!--        &lt;!&ndash;日志消息格式配置&ndash;&gt;-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>${pattern}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!--root logger 配置-->
    <root level="INFO">
        <appender-ref ref="console"/>
<!--        <appender-ref ref="file"/>-->
    </root>

</configuration>
